<ion-view view-title="О программе">
    <ion-content>
        <div style="text-align: center;">
            <h3>Официальный сайт: <a href="#" style="text-decoration: none; color: red;" ng-click="go()">перейти</a></h3>
            <hr />
            <h3>
            Отдельное спасибо за тестирование и помощь в разработке:<br /><br />
            <ul>
                <li>Жоре Левченко
                <li>Олегу Суханику
                <li>Андрею Киселёву
            </ul>
            <br />
            <hr />
            </h3>
            <h3>Версия приложения: v{{version}}</h3> 
        </div>
    </ion-content>
</ion-view>