<ion-view view-title="Настройки">
	<ion-content>
		<li class="item item-toggle">
			Offline режим
			<label class="toggle toggle-assertive">
				<input ng-if="offline == 'true'" type="checkbox" checked="checked">
				<input ng-if="offline != 'true'" type="checkbox">
				<div class="track"><div class="handle"></div></div>
			</label>
		</li>

		<div style="text-align: center;">Просто показывает какой сейчас режим включен(переключать бессымысленно)</div>

		<label class="item-input item-select">
		    <div class="input-label">
		      Группа
		    </div>
		    <select ng-model="settings.group">
		      <option ng-repeat="g in settings.groups">{{g.group_name}}</option>
		    </select>
		</label>

		<label class="item-input item-select">
		    <div class="input-label">
		      Подгруппа
		    </div>
		    <select ng-model="settings.subgroup">
		      <option value="1">Первая</option>
		      <option value="2">Вторая</option>
		    </select>
		</label>

		<br />

		<div style="text-align: center;">
			<button class="button button-positive" ng-click="savesettings()">Сохранить настройки</button><br /><br />
		</div>
	</ion-content>
</ion-view>